body {
  background-color: #9a9a9a;
  margin-left: 50px;
  margin-top: 40px; }

h1, h2 {
  color: #2b2b2b;
  font-size: 30px;
  font-family: Menlo, Monaco, fixed-width, serif; }

h2 {
  font-size: 20px; }

p {
  color: white;
  font-family: "Source Code Pro", Menlo, Monaco, fixed-width, serif; }

a {
  text-decoration: none;
  margin: 10px; }

label {
  font-family: Menlo, Monaco, fixed-width, serif;
  font-size: 10px;
  margin: 5px; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.button {
  box-sizing: border-box;
  height: 45px;
  width: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  display: table;
  font-size: 20px;
  font-weight: bold;
  transition: background .4s;
  cursor: pointer;
  font-family: Menlo, Monaco, fixed-width, serif; }
  .button span {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #2D3142;
    box-shadow: 0 0 0 3px #2D3142 inset;
    background: transparent; }
  .button .away {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .button .over {
    display: none; }
  .button:hover span.away {
    display: none; }
  .button:hover span.over {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-shadow: none; }
  .button:hover {
    background: #2D3142; }

.toDo {
  cursor: pointer;
  font-family: Menlo, Monaco, fixed-width, serif;
  font-size: 14px; }

#todo-container {
  margin-left: 30px; }

#todo {
  font-family: Menlo, Monaco, fixed-width, serif;
  height: 35px;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  width: 200px;
  box-sizing: border-box; }
